body {
    background: url("../images/contactus.jpg");
}

.details {
    margin-top: 20px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    
}

.details > div {
    background-color:rgba(0,0,0,0.6);
    padding: 20px 30px;
    border-radius: 50px;
    font-weight: bold;
}