*{
    padding: 0;
    margin: 0;
   border: none;
}

.nav ul{
    background-color: #ccc;
    text-align: right;
}

.nav li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.nav a:hover{
    background: rgb(25, 92, 160);
    border-radius: 20%;
}

#ads {
    width: 60%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.5);
    border: 1px solid grey;
    text-align: center;
}


/*card*/

.container {
    margin: 20px auto;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .card_image{
    width: 200px;
}

.container .card {
    margin: 10px 0;
    display: flex;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.container .card_details {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#orderBtn {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}